<h1>CATS</h1>

<ul>
    <% @cats.each do |cat| %>
    <h2><%= cat.name %></h2>
    <li><%= cat.birth_date %></li>
    <li><%= cat.color %></li>
    <li><%= cat.sex %></li>
    <li><%= cat.description %></li>
    <br>
    <% end %>
</ul>